header{
  background-color: #8e22bb;
}
.enlaces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.imagen {
  margin-left: 35px;
}

a {
  color: white;
  text-decoration: none !important;
  list-style-type: none;
  margin-right: 40px;
}

.enlaces a:hover {
  color: white;
}

.inicio {
  color: #7000a3;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
  text-align: justify;
  line-height: 35px;
}

body {
  background-color: white;
}

.carousel {
  max-width: 1100px; /* Puedes ajustar este valor según tus necesidades */
  margin: 0 auto; /* Centra el carrusel horizontalmente */
  overflow: hidden; /* Oculta las imágenes que se salgan del área visible */
  padding: 25px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

h1 {
  justify-content: center;
  color: #871cb4;
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-color: #871cb4;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 14px;
  line-height: 1.5;
}

.contact-buttons {
  display: flex;
  gap: 10px;
}

.contact-button {
  display: inline-block;
  padding: 8px 15px;
  background-color: #ffffff;
  color: #871cb4;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #ffffff;
}
